html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

main {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    display: block;
}

fieldset {
    padding: .5em;
}

img {
    width: 75px;
    display: block;
    margin: 0 auto;
    padding: 1em 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    display: none;
}

h3 {
    text-align: center;
}

form {
    max-width: 900px;
    margin: 2em auto 2em auto;
    display: block;
}

fieldset {
    background-color: yellow;
    border: 6px solid #000;
    border-radius: 1em;
    padding: 3em;
}

legend {
    color: yellow;
    background-color: #000;
    border: 4px solid yellow;
    border-radius: .5em;
    padding: .5em 2em;
    text-align: center;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.group-radio {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.group-radio input {
    width: 0;
    height: 0;

}

.group-radio label {
    background-color: #000;
    color: yellow;
    font-size: 28px;
    line-height: 53px;
    width: 2em;
    height: 2em;
    border: 2px solid #000;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
}

.group-radio label:hover, .group-radio input:checked + label, .group-radio input:focus + label {
    background-color: yellow;
    color: #000;
    cursor: pointer;
} 

button {
    padding: .5em 2em;
    background-color: yellow;
    border: 2px solid #000;
    border-radius: .5em;
    color: #000;
    font-weight: bold;
    display: block;
    margin: 1em auto -2em auto;
}

input {
    padding: 1em;
    margin-top: .3em;
    border: 3px solid;
}

input[type="text"]:not(:placeholder-shown) {
    border-color: green;
    color: green;
  }
  
input:placeholder-shown {
    border-color: #ccc;
}

input[type="email"]:valid {
    color: green;
    border-color: green;
}

input[type="email"]:not(:valid) {
    border-color: #ccc;
}


input[type="radio"] {
    width: 0;
    height: 0;
}

select {
    padding: 1em;
    margin-top: .3em;
    border: 3px solid;
    -webkit-appearance: none;
}

select:not(:placeholder-shown) {
    border-color: green;
    color: green;
  }
  
select:placeholder-shown {
    border-color: #ccc;
}

input[type="date"] {
    border-color: #ccc;
    -webkit-appearance: none;
}

input[type="date"]:valid {
    border-color: green;
    color: green;
}

input[type="date"]:not(:valid) {
    border-color: #ccc!;
}
  

button:hover {
    background-color: #000;
    color: yellow;
    cursor: pointer;
}

/* END */

section {
    max-width: 700px;
    border-radius: .5em;
    margin: 0 auto;
    padding: 1em;
    margin-top: 4em;
}

section p {
    text-align: center;
    margin-top: 1em;
}

/* PROGRESS */

.progress {
    display: flex;
    flex-wrap: nowrap;
    margin: 2em auto 0 auto;
    max-width: 25em;
    position: relative;
    justify-content: center;
}

.progress div {
    width: 2em;
    height: 2em;
    background-color: #000;
    border-radius: 90%;
    margin: .5em 1em;
    border: 2px solid #000;
    background-color: yellow;
    z-index: 1;
    text-align: center;
    line-height: 30px;
}

.progress a {
    color: #000;
    text-decoration: none;
}

.bar {
    height: 2px!important;
    width: 85%!important;
    border-radius: 0!important;
    margin: 0!important;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    z-index: -1!important;
}

.active-page {
    width: 3em!important;
    height: 3em!important;
    margin: 0 1em 0 1em!important;
    background-color: #000!important;
    color: #fff!important;
    line-height: 45px!important;
}

.done {
    background-color: green!important;
    color: #fff!important;
}

.almost-done {
    background-color: orange!important;
    color: #fff!important;
}


/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body, main {
        background-color: #000;
    }

    img {
        filter: drop-shadow(0px 0px 3px yellow);
    }

    h1, h2, h2, p {
        color: yellow;
    }

    fieldset {
        background-color: #000;
        border-color: yellow;
    }

    label {
        color: yellow;
    }

    .group-radio label {
        border-color: yellow;
    }

    button {
        background-color: #000;
        border-color: yellow;
        color: yellow;
    }

    button:hover {
        background-color: yellow;
        color: #000;
    }

    .progress div {
        background-color: #000;
        border-color: yellow;
        color: #fff;
    }

    .progress a {
        z-index: 2;
    }

    .active-page {
        background-color: yellow!important;
        color: #000!important;
    }

    .progress .bar {
        background-color: yellow!important;
    }
  }


  @media only screen and (max-width: 600px) {
    fieldset {
        padding: .5em;
    }

    .group-radio {
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: center;
    }

    .group-radio label {
        font-size: 28px;
        line-height: 53px;
        flex: 1 1 auto;
    }

    .progress div {
        width: 10vw;
        height: 10vw;
        max-width: 2em;
        max-height: 2em;
        min-width: 2em;
        min-height: 2em;
        margin: .5em 2.5vw;
    }

    .progress .active-page {
        width: 15vw!important;
        height: 15vw!important;
        max-width: 3em!important;
        max-height: 3em!important;
        min-width: 3em!important;
        min-height: 3em!important;
        margin: 0 2.5vw;
    }

    .progress .bar {
        display: none;
    }
  }